<div id="dashboard-panel">
  <a  href="/dashboard/profile" class="dashboard-item ibm-edit-link ibm-inlinelink">
    <p>Modify Profile</p>
  </a>
  <% if (user.accountType === "Admin" || user.accountType === "Blogger") { %>
    <a href="/dashboard/blog" class="dashboard-item ibm-blog-link ibm-inlinelink">
      <p>Manage Blog</p>
    </a>
    <% if (user.accountType === "Admin") { %>
      <a href="/dashboard/users" class="dashboard-item ibm-profile-link ibm-inlinelink">
        <p>Manage Users</p>
      </a>
      <a href="/dashboard/gallery" class="dashboard-item ibm-picture-link ibm-inlinelink">
        <p>Manage Photo Gallery</p>
      </a>
      <a style="color: gray; pointer-events:none;" href="/dashboard/calendar" class="dashboard-item ibm-calendar-link ibm-inlinelink">
        <p>Manage Calendar</p>
      </a>
      <a style="color: gray; pointer-events:none;" href="/dashboard/carpool" class="dashboard-item ibm-collaborate-link ibm-inlinelink">
        <p>Car Pool</p>
      </a>
      <a style="color: gray; pointer-events:none;" href="/dashboard/roommates" class="dashboard-item ibm-home-link ibm-inlinelink">
        <p>Roommate Matching</p>
      </a>
    <% } %>
  <% } %>
</div>