<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8"/>


  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" />

  <% include ../common/meta %>

  <meta name="description" content="Manage the users that are registered with Future Blue" />
  <meta name="keywords" content="<% include ../common/keywords %> Manage, Modify, Users, Profile, User, Profiles" />

  <title>Manage Users</title>

  <!-- Stylesheets -->
  <link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />
  <link href="//1.www.s81c.com/common/v18/css/tables.css" rel="stylesheet" />
  <link href="//1.www.s81c.com/common/v18/css/forms.css" rel="stylesheet" />
  <link href="/css/styles.css" rel="stylesheet" />

  <!-- Scripts -->
  <% include ../common/meta-json %>

  <!--<script src="//www.ibm.com/common/stats/ida_stats.js"></script>-->
  <script src="//1.www.s81c.com/common/v18/js/www.js"></script>
  <script src="//1.www.s81c.com/common/v18/js/tables.js"></script>
  <script src="//1.www.s81c.com/common/v18/js/forms.js"></script>

  <% include ../common/settings %>
</head>
<body id="ibm-com" class="ibm-type">
  <div id="ibm-top" class="ibm-landing-page">
    <% include ../common/nav %>

    <!-- LEADSPACE_BEGIN -->
    <!-- This is where you put the breadcrumbs/page title. -->
    <header role="banner" aria-labelledby="ibm-pagetitle-h1">
      <div id="ibm-leadspace-head"  class="ibm-alternate" style="padding: 1em">
        <div id="ibm-leadspace-body" style="padding-bottom: 0px;">
          <!-- Nav trail -->
          <nav role="navigation" aria-label="Breadcrumb">
            <ul id="ibm-navigation-trail">
              <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/" class="breadcrumb" itemprop="url"><span itemprop="title">Home</span></a>
              </li>
              <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <span itemprop="title">Dashboard</span>
              </li>
            </ul>
          </nav>

          <div class="ibm-columns">
            <div class="ibm-col-6-5">
              <h1 id="ibm-pagetitle-h1" class="ibm-h1 ibm-bold">Manage Users</h1>
            </div>
          </div>
        </div>
      </div>

    </header>
    <!-- LEADSPACE_END -->

    <main role="main" aria-labelledby="ibm-pagetitle-h1">
      <div id="ibm-pcon">
        <div id="ibm-content">
          <div id="ibm-content-body">
            <div id="ibm-content-main">

              <!-- Content goes here -->
              <div class="ibm-columns">
                <!-- Column for dashboard items -->
                <div class="ibm-col-5-1">
                  <% include sidebar %>
                </div>

                <!-- Column for profile card -->
                <div class="ibm-col-5-4">
                  <div class="ibm-card">
                    <div class="ibm-card__content">
                      <h1 class="ui huge header">
                        <div class="sub header">Click on a row to manage that user</div>
                      </h1>
                      <table id="users-table" class="ibm-data-table" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              <!-- end of profile card -->

              </div>
              <!-- Content ends here -->

            </div>
          </div>
        </div>
      </div>
    </main>

    <% include ../common/footer %>

    <!-- modal dialog -->

  <div class="ibm-common-overlay ibm-overlay-alt-two" data-widget="overlay" id="overlay" style="overflow-x:hidden">
    <div id="title" class="header"></div>
    <form id="edit-user-form" class="ibm-row-form" method="POST" action="">
      <!-- so chrome doesnt auto complete password -->
      <input style="display:none">
      <input type="password" style="display:none">

      <div class="ibm-columns">
        <div class="ibm-col-4-1">
          <p>
            <label for="firstName">First Name</label>
            <span>
              <input class="full-width" type="text" name="firstName" placeholder="First Name">
            </span>
          </p>
          <p>
            <label for="lastName">Last Name</label>
            <span>
              <input class="full-width" type="text" name="lastName" placeholder="Last Name">
            </span>
          </p>
          <p>
            <label for="internshipStart">Internship Start Date</label>
            <span>
              <input class="full-width" type="text" name="internshipStart" placeholder="Start Date">
            </span>
          </p>
          <p>
            <label for="lastName">Internship End Date</label>
            <span>
              <input class="full-width" type="text" name="internshipEnd" placeholder="End Date">
            </span>
          </p>
          <p>
            <label for="email">Email</label>
            <span>
              <input class="full-width" type="text" name="email" placeholder="Email Address">
            </span>
          </p>
          <p>
            <label for="password">Password</label>
            <span>
              <input class="full-width" type="password" name="password" placeholder="Password">
            </span>
          </p>
          <p>
            <label for="password">Personal Website</label>
            <span>
              <input class="full-width" type="text" name="website" placeholder="Personal Website">
            </span>
          </p>
          <p>
            <label for="password">Linkedin Profile</label>
            <span>
              <input class="full-width" type="text" name="linkedin" placeholder="linkedin">
            </span>
          </p>
          <p>
            <label>Account Type</label>
              <select class="full-width" id="account-type-dropdown" data-width="50%">
                <option value="">Account Type</option>
                <option value="Admin">Admin</option>
                <option value="Blogger">Blogger</option>
                <option value="Member">Member</option>
                <option value="Alumni">Alumni</option>
                <option value="Banned">Banned</option>
              </select>
          </p>
        </div>
        <div class="ibm-col-4-1">
          <p>
              <label for="profile-picture" style="text-align:left">Profile Picture</label>
              <img src="" id="profile-picture" class="ibm-resize" style="max-width:80%"/>
          </p>
          <form id="profile-pic-form" method="post" enctype="multipart/form-data">
            <p>
              <span>
                <input id="browse-photo" type="file" data-widget="fileinput">
              </span>
            </p>
            <p>
              <span>
                <input id="upload-btn" class="ibm-btn-pri ibm-btn-blue-50" value="Upload Profile Picture" readonly>
              </span>
            </p>
          </form>
        </div>
      </div>

      <p class="ibm-btn-row">
        <input type="button" class="ibm-btn-pri ibm-btn-blue-50 save-btn" name="save" value="Save">
        <input type="button" class="ibm-btn-pri ibm-btn-red-50 edit-delete-btn" name="delete" value="Delete">
        <input type="button" class="ibm-btn-pri cancel-btn" name="cancel" value="Cancel">
      </p>
    </form>
  </div>

  <div class="ibm-common-overlay ibm-overlay-alt-three" data-widget="overlay" id="delete-overlay">
    <h1 class="ibm-h1">Are you sure?</h1>
    <p>Are you absolutely sure that you want to delete this user? <strong>Once you delete this user, it cannot be undone!</strong></p>
    <div id="delete-user-form">
      <p class="ibm-btn-row">
        <input type="submit" class="ibm-btn-pri ibm-btn-red-50 delete-btn" name="delete-user" value="Delete User">
        <input type="button" class="ibm-btn-pri cancel-btn" name="cancel" value="Cancel">
      </p>
    </div>
  </div>

  <script src="/libs/jquery.min.js"></script>
  <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
  <script src="/js/users.js"></script>

  <script type="text/javascript">
     $(document).ready(function() {
      var table = $("#users-table").DataTable({
        data: <%- JSON.stringify(data) %>,
        order: [],
        columns: [
          { data: "id", visible: false },
          {
            data: "firstName",
            sTitle: "Name",
            render: function(data, type, row) {
              return data + " " + row.lastName;
            }
          },
          { data: "lastName", sTitle: "Last Name", visible: false },
          { data: "internshipStart", sTitle: "Internship Start", visible: false },
          { data: "internshipEnd", sTitle: "Internship End", visible: false },
          { data: "email", sTitle: "Email" },
          { data: "accountType", sTitle: "Account Type" },
          { data: "dateJoined", sTitle: "Date Joined" }
        ],
        pagingType: "full_numbers"
      });

      table.$("a.button").parent().css("text-align", "center");

      table.on('click', 'tr', function() {
        var row = table.row(this).data();

        $('#overlay #title').text('Edit ' + row.firstName + ' ' + row.lastName + '\'s Account');
        $('#overlay #title').css('font-weight', 'bold');
        $('#overlay #title').css('margin-bottom', '5px');
        $('input[name="firstName"]').val(row.firstName);
        $('input[name="lastName"]').val(row.lastName);
        $('input[name="internshipStart"]').val(row.internshipStart);
        $('input[name="internshipEnd"]').val(row.internshipEnd);
        $('input[name="email"]').val(row.email);
        $('input[name="website"]').val(row.website);
        $('input[name="linkedin"]').val(row.linkedin);
        $('#account-type-dropdown option[value="'+row.accountType+'"]').attr('selected', 'selected');
        $('#profile-picture').attr('src', row.profilePicturePath);

        $(".save-btn").click(function() {
          var password = $('input[name="password"]').val();

           $.post("/dashboard/edit_user", {
              id : row.id,
              firstName : $('input[name="firstName"]').val(),
              lastName : $('input[name="lastName"]').val(),
              email : $('input[name="email"]').val(),
              website : $('input[name="website"]').val(),
              linkedin : $('input[name="linkedin"]').val(),
              profilePicturePath : $('#profile-picture').attr('src'),
              internshipStart : $('input[name="internshipStart"]').val(),
              internshipEnd : $('input[name="internshipEnd"]').val(),
              password : password.length > 5 ? password : undefined,
              accountType : $('#account-type-dropdown').val()
            }, function(data) {
              if (data.message === "success") {
                location.reload();
              }
              else if (data.message === "") {

              }
            });
        });

        $('#delete-user-form .delete-btn').click(function() {
          console.log("Deleting " + row.firstName);

          $.post("/dashboard/delete_user", { id : row.id }, function(data) {
            location.reload();
          });

          return false;
        });

        // Show the modal
        IBMCore.common.widget.overlay.show('overlay');

        return false;
      });

      $('.edit-delete-btn').click(function() {
        // Hide the modal
        IBMCore.common.widget.overlay.hide('overlay');

        // Show the modal
        IBMCore.common.widget.overlay.show('delete-overlay');

        return false;
      });

      $('.cancel-btn').on('click', function() {
        // Hide the modal
        IBMCore.common.widget.overlay.hide('overlay');

        // Show the modal
        IBMCore.common.widget.overlay.hide('delete-overlay');

        return false;
      });

      // $('#edit-user-form').form({
      //   fields: {
      //     email: {
      //       identifier  : 'email',
      //       rules: [{
      //         type   : 'empty',
      //         prompt : 'Please enter your e-mail'
      //       },
      //       {
      //         type   : 'email',
      //         prompt : 'Please enter a valid e-mail'
      //       }]
      //     },
      //     password: {
      //       identifier  : 'password',
      //       rules: [{
      //         type   : 'empty',
      //         prompt : 'Please enter your password'
      //       },
      //       {
      //         type   : 'length[6]',
      //         prompt : 'Your password must be at least 6 characters'
      //       }]
      //     }
      //   }
      // });
    });
  </script>

</body>
</html>
