<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8"/>

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" />

  <% include common/meta %>

  <meta name="description" content="Learn all about Future Blue Canada, IBM's student community!" /> 
  <meta name="keywords" content="<% include common/keywords %> About, Information, Teams, Web , Activities, Newsletter, Career and Development" />

  <title>About Future Blue Canada</title>

  <!-- Stylesheets -->
  <link href="css/styles.css" rel="stylesheet" />
  <link href="css/about.css" rel="stylesheet" />
  <link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />

  <!-- Scripts -->
  <% include common/meta-json %>

  <script src="//www.ibm.com/common/stats/ida_stats.js"></script>
  <script src="//1.www.s81c.com/common/v18/js/www.js"></script>

  <% include common/settings %>
</head>
<body id="ibm-com" class="ibm-type">
  <div id="ibm-top" class="ibm-landing-page">
    <% include common/nav %>

    <!-- LEADSPACE_BEGIN -->
    <!-- This is where you put the breadcrumbs/page title. -->
    <header role="banner" aria-labelledby="ibm-pagetitle-h1">

      <div id="ibm-leadspace-head"  class="ibm-alternate ibm-alternate-background">
        <div id="ibm-leadspace-body" style="padding-bottom: 0px;">
          <!-- Nav trail -->

          <nav role="navigation" aria-label="Breadcrumb">
            <ul id="ibm-navigation-trail">
              <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/" class="breadcrumb-inverse" itemprop="url"><span itemprop="title">Home</span></a>
              </li>
            </ul>
          </nav>
          <div class="ibm-columns">
            <div class="ibm-col-6-5">
              <h1 id="ibm-pagetitle-h1" class="ibm-h1 ibm-bold">About</h1>
            </div>
          </div>
        </div>
      </div>

    </header>
    <!-- LEADSPACE_END -->

    <main role="main" aria-labelledby="ibm-pagetitle-h1">
      <div id="ibm-pcon">
        <div id="ibm-content">
          <div id="ibm-content-body">
            <div id="ibm-content-main">

              <!-- Content goes here -->
              <div class="ibm-columns">
                <div class="ibm-col-1-1">

                  <div class="ibm-columns">
                    <h2 class="ibm-h2"><b>About Future Blue Canada</b></h2>
                    <p>
                      Every student hired into IBM is automatically a member of the Future Blue team. Future Blue is a community run by students for students. Future blue provides opportunies for students to practice their skills, network with other IBMers, and learn more about IBM and fostering a career in it. It provides students a forum of discussion and a way to HAVE FUN!
                    </p>
                    <p>
                      Future Blue operates four different teams that organize events to provide a dynamic experience to IBM interns. All meetings take place in the Toronto Software Lab. Scroll through the slideshow of teams below to learn more!
                    </p>
                    <p>
                    </p>
                    <p>
                    </p>
                    <p>
                    </p>
                  </div>

                  <div data-widget="carousel" data-dots="true" data-arrows="true" data-horizontal="true" data-autoplay="true">
                    <div class="ibm-columns">
                      <div class="ibm-col-6-3">
                        <h2 class="ibm-h2"><b>Future Blue Activities Team</b></h2>
                        <p class="ibm-light"><img class="ibm-resize" src="images/soccer.jpg" width="300" height="140" ></p>
                      </div>
                      <div class="ibm-col-6-3">
                        <h3 class="ibm-h3"><b>What does the Activities Team do?</b></h3>
                        <p>
                          The Activities Team plans social events and outings for the interns. If you are looking to meet new people in a casual, student-like environment while trying interesting things in the GTA, the Activities team is perfect for you.
                        </p>
                        <p>
                          The Activities team is always looking for volunteers to help create new events, and organize events for all IBM Interns.
                        </p>
                        <h3 class="ibm-h3"><b>What Skills Can I Develop by Participating?</b></h3>
                        <ul>
                          <li>
                            <h4 class="ibm-h4">Activities Planning</h4>
                            <p>Coordinate unique, popular events within the Future Blue community</p>
                          </li>
                          <li>
                            <h4 class="ibm-h4">Social Skills</h4>
                            <p>Meet many different people from various backgrounds, cultures and attitudes</p>
                          </li>
                          <li>
                            <h4 class="ibm-h4">Personal Connections</h4>
                            <p>Network with other student-interns in a casual setting to make life-long friendships</p>
                          </li>
                        </ul>
                        <p class="ibm-btn-row">
                          <a class="ibm-btn-sec ibm-btn-orange-50 " href="mailto:katzheng@ca.ibm.com" title="">E-mail an Activities Lead!</a>
                        </p>
                      </div>
                    </div>
                    <div class="ibm-columns">
                      <div class="ibm-col-6-3">
                        <h2 class="ibm-h2"><b>Future Blue Career and Development Team</b></h2>
                        <p class="ibm-light"><img class="ibm-resize" src="images/cnd.jpg"></p>
                      </div>
                      <div class="ibm-col-6-3">
                        <h3 class="ibm-h3"><b>What does the C&amp;D Team do?</b></h2>
                        <p>
                          The Career and Development team is here for all of your professional development needs! They offer a number of sessions focusing on communication and networking. They connect you with HR and Hiring Managers through their ever-popular MIRC(Mock Interview and Resume Critique) session. Whether you need information on IBM certifications, help with your resume, or a guide to your IBM team, the C&amp;D team has you covered. Volunteers are always welcome.
                        </p>
                        <h3 class="ibm-h3"><b>What Skills Can I Develop by Participating?</b></h3>
                        <ul>
                          <li>
                            <h4 class="ibm-h4">Activities Planning</h4>
                            <p>Coordinate unique, popular events within the Future Blue community</p>
                          </li>
                          <li>
                            <h4 class="ibm-h4">Social Skills</h4>
                            <p>Meet many different people from various backgrounds, cultures and attitudes</p>
                          </li>
                          <li>
                            <h4 class="ibm-h4">Personal Connections</h4>
                            <p>Network with other student-interns in a casual setting to make life-long friendships</p>
                          </li>
                        </ul>
                        <p class="ibm-btn-row">
                          <a class="ibm-btn-sec ibm-btn-blue-50 " href="mailto:tjustin@ca.ibm.com" title="">E-mail a C&amp;D Lead!</a>
                        </p>
                      </div>
                    </div>
                    <!-- </div> -->
                    <div class="ibm-columns">
                      <div class="ibm-col-6-3">
                        <h2 class="ibm-h2"><b>Future Blue Web Development Team</b></h2>
                        <p class="ibm-light"><img class="ibm-resize" src="images/webteam.jpg"></p>
                      </div>
                      <div class="ibm-col-6-3">
                        <h3 class="ibm-h3"><b>What does the Web Team do?</b></h3>
                        <p>The Web Team works on Future Blue websites and webapps.
                          If you want to meet other interns who are passionate about web and application programming, come to our weekly meeting.
                          All programmers and designers who are willing to collaborate using IBM &amp; open source technology are welcome.</p>
                          <h3  class="ibm-h3"><b>What Skills Can I Develop by Participating?</b></h3>
                          <ul>
                            <li>
                              <h4 class="ibm-h4">Web Development</h4>
                              <p>Design, maintain, and update the Future Blue website</p>
                            </li>
                            <li>
                              <h4 class="ibm-h4">Web Applications</h4>
                              <p>Develop useful web applications that will be hosted on the FB website</p>
                            </li>
                            <li>
                              <h4 class="ibm-h4">Peer Collaboration</h4>
                              <p>Work and learn together with other interns of similar skill levels and experience</p>
                            </li>
                          </ul>
                          <p class="ibm-btn-row">
                            <a class="ibm-btn-sec ibm-btn-green-50 " href="mailto:isaicu05@ca.ibm.com" target="" title="">E-mail a Web Lead!</a>
                          </p>
                        </div>
                      </div>
                      <div class="ibm-columns">
                        <div class="ibm-col-6-3">
                          <h2 class="ibm-h2"><b>Future Blue Newsletter Team</b></h2>
                          <p class="ibm-light"><img class="ibm-resize" src="images/olivia.jpg" width="300" height="140" alt="Placeholder image"></p>
                        </div>
                        <div class="ibm-col-6-3">
                          <h3 class="ibm-h3"><b>What does the Newsletter Team do?</b></h3>
                          <p>The newsletter team sends out Future Blue emails on a biweekly basis to update interns about events in the lab and general IBM information.
                            Our writers produce a variety of articles, such as interviews with both interns and full-time workers. We are always looking for skilled writers. Contact us if you are interested!</p>
                            <h3 class="ibm-h3"><b>What Skills Can I Develop by Participating?</b></h3>
                            <ul>
                              <li>
                                <h4 class="ibm-h4">Writing &amp; Communication</h4>
                                <p>Design, maintain, and update the Future Blue biweekly newsletters</p>
                              </li>
                              <li>
                                <h4 class="ibm-h4">Information Delivery</h4>
                                <p>Keep the intern community in the loop of what's going around the company and the world</p>
                              </li>
                              <li>
                                <h4 class="ibm-h4">Networking and Collaboration</h4>
                                <p>Meet full-time workers adn interns who you'll interview for articles.</p>
                              </li>
                            </ul>
                            <p class="ibm-btn-row">
                              <a class="ibm-btn-sec ibm-btn-purple-50 " href="mailto:eleang@ca.ibm.com" title="">E-mail a Newsletter Lead!</a>
                            </p>
                          </div>
                        </div>
                      </div><!--end carousel-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <% include common/footer %>

</div>

</body>
</html>
