<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8"/>


  <meta name="viewport" content="width=device-width, initial-scale=1" />      
  <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" />

  <% include common/meta %>

  <meta name="description" content="Take a look at what the intern community has been doing while on their placement!" /> 
  <meta name="keywords" content="<% include common/keywords %> Photo, Gallery, Photo Gallery, Pictures, Picture, Photo, Photos, Image, Images, View, Download" />

  <title>Photo Gallery</title>

  <!-- Stylesheets -->
  <link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />
  <link href="/css/styles.css" rel="stylesheet" />
  <link href="/css/gallery.css" rel="stylesheet" />

  <!-- Scripts -->
  <% include common/meta-json %>

  <!--<script src="//www.ibm.com/common/stats/ida_stats.js"></script>-->
  <script src="//1.www.s81c.com/common/v18/js/www.js"></script>

  <% include common/settings %>
</head>
<body id="ibm-com" class="ibm-type">
  <div id="ibm-top" class="ibm-landing-page">
    <% include common/nav %>

    <!-- LEADSPACE_BEGIN -->
    <!-- This is where you put the breadcrumbs/page title. -->
    <header role="banner" aria-labelledby="ibm-pagetitle-h1">

      <div id="ibm-leadspace-head"  class="ibm-alternate ibm-alternate-background">
        <div id="ibm-leadspace-body" style="padding-bottom: 0px;">
          <!-- Nav trail -->

          <nav role="navigation" aria-label="Breadcrumb">
            <ul id="ibm-navigation-trail">
              <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/" class="breadcrumb-inverse" itemprop="url"><span itemprop="title">Home</span></a>
              </li>
            </ul>
          </nav>
          <div class="ibm-columns">
            <div class="ibm-col-6-5">
              <h1 id="ibm-pagetitle-h1" class="ibm-h1 ibm-bold">Photo Gallery</h1>
            </div>
            <div class="ibm-col-6-1">
              <% if (user && (user.accountType == 'Admin' || user.accountType == 'Blogger')) { %>
                <p class="ibm-button-link">
                  <a href="/dashboard/gallery/add-photos" class="ibm-btn-pri ibm-btn-white full-width-btn">Add Photos</a>
                </p>
              <% } %>
            </div>
          </div>
        </div>
      </div>

    </header>
    <!-- LEADSPACE_END -->

    <main role="main" aria-labelledby="ibm-pagetitle-h1">
      <div id="ibm-pcon">
        <div id="ibm-content">
          <div id="ibm-content-body">
            <div id="ibm-content-main">

              <div id="gallery" class="ibm-columns">

                <% if (photos && photos.length < 1) { %>
                  <div class="ibm-card">
                    <div class="ibm-card__content">
                      <h3 class="ibm-h3">
                        It looks like there are no photos to display :(
                      </h3>
                      <p class="ibm-padding-bottom-0">Check again later!</p>
                    </div>
                  </div>
                <% } %>

                <% photos.forEach(function(photo, i) { %>
                  <div class="ibm-col-4-1">
                    <div class="gallery-image" data-gallery="<%= JSON.stringify(photo) %>" style="background-image:url('<%= photo.path %>');">
                    </div>
                  </div>
                <% }); %>
              </div>

              <div class="ibm-columns">
                <div class="ibm-col-1-1">
                  <div class="ibm-rule ibm-gray-30"><hr></div>
                  <ul role="navigation" aria-label="Pagination" class="ibm-pagination">
                    <li class="ibm-pagination__results"> 
                      Showing <strong id="num-shown"><%= photos.length %></strong> of <strong id="total-photos"><%= totalNumPhotos %></strong> photos
                    </li>
                    <li>
                      <a id="show-more" class="ibm-next-link ibm-inlinelink ibm-icon-after" <% if (!canShowMore) { %>disabled<% } %>>Show More</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </main>

    <% include common/footer %>
  </div>

  <div class="ibm-common-overlay ibm-overlay-alt-three" data-widget="overlay" id="overlay">
    <div class="overlay-image"></div>
  </div>
  <div class="ibm-common-overlay full-width" data-widget="overlay" id="overlay-alt">
    <div class="ibm-columns">
      <div class="ibm-col-6-3">
        <div class="overlay-image"></div>
      </div>
      <div class="ibm-col-6-3 ibm-left">
        <h1 class="ibm-h1 image-title"></h1>
        <h3 class="ibm-h3 image-description"></h3>
        <% if (user && (user.accountType == 'Admin' || user.accountType == 'Blogger')) { %>
          <p class="ibm-button-link">
            <a href="/dashboard/gallery" class="ibm-btn-pri">Edit Photo</a>
          </p>
        <% } %>
      </div>
    </div>
  </div>

  <script src="/libs/jquery.min.js"></script>
  <script src="/js/gallery.js"></script>

</body>
</html>