.ibm-column-form p span span.ibm-fileinput {
    margin: 0px 0px 8px;
    display: block;
}

#ibm-northstar-carousel-container{
  padding: 50px;
}

p.ibm-padding-bottom-10{
  margin-left: 40px;
  margin-right: 40px;
}

a:visited {
    color: #4178BE;
    text-decoration: none;
}

a[disabled] {
	pointer-events: none;
	color: gray;
}

.ibm-pagination > li a.ibm-inlinelink.ibm-icon-after[class*="-link"] {
	cursor: pointer;
}

span.tag {
	font-family: "HelvRegularIBM", "Helvetica Neue", Arial, sans-serif;
	font-size: 0.875rem;
	min-width: 75px;
	padding: 0.7em 1em 0.6em;
	background-color: #323232;
	border-color: #323232;
	color: #FFF;
	line-height: 19.2px;
	border: 2px solid #323232;
	text-decoration: none;
	max-width: 100%;
	min-height: 20px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	box-sizing: border-box;
	display: inline-block;
}

span.inline.tag {
	min-width: 0;
	min-height: 0;
	padding: 0.3em 0.5em;
}

.breadcrumb-inverse {
	color: white !important;
}

.ibm-legalfooter-text {
	background-color: #ECECEC !important;
}

#ibm-mobilemenu-screen {
	background: none !important;
}

.ibm-mobilemenu p {
	margin: 0px 20px;
	padding: 20px 20px 20px 0;
}

#search-input {
	display: block;
	width: 100%;
}

.full-width-btn,
.full-width {
	width: 100%;
}

a.full-width-btn {
	display: inline-block;
}

.vertical-align {
	vertical-align: middle;
}

.ibm-data-table {
	width: 100% !important;
}

.dashboard-item {
	font-size: 2px;
	display: block !important;
	margin: 10px 0 !important;
}

.dashboard-item > p {
	font-size: 17px !important;
	padding: 5px 2em;
}

.ibm-data-table tr {
	cursor: pointer;
}
.error.message {
    color: red;
    padding: 10px 0 20px 0;
}
