<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8"/>


  <meta name="viewport" content="width=device-width, initial-scale=1" />      
  <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" />

  <% include ../common/meta %>

  <meta name="description" content="Information that will help incoming students when they are looking for housing the in the GTA" /> 
  <meta name="keywords" content="<% include ../common/keywords %> Resource, Resources, Housing, House, Rent, Home, Tips, Tip, Toronto, GTA, Markham, Roommate, Roommates, Landlord, Landloards, Apartment, Apartments, Townhouse, Townhouses, Condo, Condos, Help" />

  <title>Toronto - Housing</title>

  <!-- Stylesheets -->
  <link href="/css/styles2.css" rel="stylesheet" />
  <link href="/css/resources.css" rel="stylesheet"/>
  <link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />
  <link href="//1.www.s81c.com/common/v18/css/tables.css" rel="stylesheet" />

  <!-- Scripts -->
  <% include ../common/meta-json %>

  <script src="//www.ibm.com/common/stats/ida_stats.js"></script>
  <script src="//1.www.s81c.com/common/v18/js/www.js"></script>
  <script src="//1.www.s81c.com/common/v18/js/tables.js"></script>

  <% include ../common/settings %>
</head>
<body id="ibm-com" class="ibm-type">
  <div id="ibm-top" class="ibm-landing-page">
    <% include ../common/nav %>

    <!-- LEADSPACE_BEGIN -->
    <!-- This is where you put the breadcrumbs/page title. -->
    <header role="banner" aria-labelledby="ibm-pagetitle-h1">

      <div id="ibm-leadspace-head" class="ibm-alternate ibm-alternate-background">
        <div id="ibm-leadspace-body" style="padding-bottom: 0px;">
          <!-- Nav trail -->

          <nav role="navigation" aria-label="Breadcrumb">
            <ul id="ibm-navigation-trail">
              <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/" class="breadcrumb-inverse" itemprop="url"><span itemprop="title">Home</span></a>
              </li>
              <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="/resources" class="breadcrumb-inverse" itemprop="url"><span itemprop="title">Resources</span>  </a>            
              </li>
              <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"> 
                <a href="/resources" class = "breadcrumb-inverse" itemprop="url"> <span itemprop="title"> Toronto, ON </span> </a> 
              </li>
              <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <span itemprop="title">Housing</span>
              </li>
            </ul>
          </nav>
          <div class="ibm-columns">
            <div class="ibm-col-6-5">
              <h1 id="ibm-pagetitle-h1" class="ibm-h1 ibm-bold">Housing</h1>
            </div>
          </div>
        </div>
      </div>

    </header>
    <!-- LEADSPACE_END -->

    <main role="main" aria-labelledby="ibm-pagetitle-h1">
      <div id="ibm-pcon">
        <div id="ibm-content">
          <div id="ibm-content-body">
            <div id="ibm-content-main">

              <!-- Content goes here -->
              <div class="ibm-columns">
                <div class="ibm-col-1-1">
                 <h2 id="ibm-pagetitle=h2" class = "ibm-h2 ibm-bold"> Toronto Housing Advice</h2>
                    <h2 class ="ibm-h3"> Finding a place to live</h3>
                      <p>
                        Some interns finishing up their work terms at IBM may leave behind apartments and rooms they were renting nearby. Email us to see if we can link you up with them!
                      </p>
                      <p class="ibm-btn-row">
                          <a class="ibm-btn-sec ibm-btn-red-50 " href="mailto:bdao05@ca.ibm.com" title="">E-mail to inherit a home!</a>
                      </p>
                      <p> If those places have been taken by the time you see this, then you'll have to go through the house-searching grind yourself! See our home-finding tips below!</p>
            <br>
                  <h2 class="ibm-h2"> General Housing Tips</h2>
                    <ul> 
                      <li> If you’re signing a lease, ask yourself how long do you want to commit for. Especially if you’re at IBM on a longer placement, like 12-16 months.  Interns may make friends at IBM and decide they want to live with them after a few months. Also, Interns from out of town may want to move once they’ve been working a few months and get know the area better</li>
                      <li> Consider how close you want to be to transit (be it a  major bus station or subway), especially if you don’t have a car. How close are you to a subway station and/or major transit station? How long do you want to spend getting to and from work? Do you want to be able to get downtown easily, even on a weekend or at night? </li>
                      <li> If you’re new to living on your own, you could look for apartments or rooms in a house where a family already lives. Some landlords will even provide meals to tenants, and it might provide a closer-to-home kind of feeling. </li>
                      <li> For cheaper rents, try looking for 2+ bedroom accommodations and finding roommates, or look for a room available in a 2+ bedroom place. </li>
                      <li> Remember to ask if utilities are included (and which ones in particular) when looking at rental prices. Utilities can mean anything from hydro and heating to cable and internet, and if they aren’t included in the price of your monthly rent, be prepared to factor that into your budget! </li>
                      <li> You can look for furnished places, making it easier to move around if you decide to change apartments after a few months. Also a furnished place means you might not need to rent a moving van, or more complicated situations if you’re coming from far away. </li>
                      <li> FutureBluers need to consider a multitude of factors when finding somewhere to live, including safety of the area! You may want to ask neighbours or snoop around on the internet for problems in an area you’re considering. </li>  
          <br> 
                  <h2 class= "ibm-h2"> Cost of Rent</h2>
                    <p> Rent varies according to many factors: size, location, accessibility to transit/shopping centres, and whether or not utilities are included. Some landlords will ask you to write cheques, to see your social insurance card, and maybe even an employment letter before you can lease from them. </p>
                    <p> Living along the <a href="http://www.ttc.ca/"> subway line </a> can be a great choice because it offers you the luxury of traveling without worrying about congestion in the city, plus it is great for the environment.  For Lab students, the Lab has worked with Markham Transit to offer Express buses from the <a href="http://www.ttc.ca/Subway/Stations/Finch/parking.jsp"> Yonge/Finch subway station </a>, which is the last northbound stop on the Yonge line, to the Lab in Markham. These buses run both in the morning and in the afternoon.<p> 
                    <p> Average  Monthly rental costs for different areas in the GTA: </P>
                     <div> <table id="housing-table" data-widget="datatable" data-info="false" data-ordering="false" data-paging="false" data-searching="false" class="ibm-data-table">
                      <thead>
                          <tr>
                              <th> </th>
                              <th>Markham</th>
                              <th>North York (room)</th>
                              <th>North York (condo)</th>
                              <th>Downtown Toronto</th>
                              <th>Scarborough</th>
                         
                          </tr>
                      </thead>
                   
                      <tbody>
                          <tr>
                              <td>1 bedroom</td>
                              <td>$850</td>
                              <td>$850</td>
                              <td>$1,200</td>
                              <td>$2,100</td>
                              <td>$700</td>
                          </tr>
                          <tr>
                              <td>2 bedroom</td>
                              <td>$1,100</td>
                              <td>$1,000</td>
                              <td>1,800</td>
                              <td>$2,400</td>
                              <td>$850</td>
                          </tr>
                          <tr>
                              <td>Cheapest</td>
                              <td>$400</td>
                              <td></td>
                              <td>$400</td>
                              <td>$450</td>
                              <td>$450</td>
                          </tr>
                      </tbody>
                  </table>
                </div>
          <br>
                  <h2 class="ibm-h2"> Rental websites</h2>
                    <ul>
                      <li> <a href="http://york.kijiji.ca/"> Kijiji- York Region  </a> </li>
                      <li> <a href="http://toronto.en.craigslist.ca/"> Craigslist Toronto </a> </li>
                      <li> <a href="http://www.rentboard.ca/rentals/index.aspx?locid=4462"> Rent Board </a> </li>
                      <li> <a href="http://www.viewit.ca/vwdefault.aspx"> RentBoard </a> </li>
                      <li> <a href="http://markham.rentershotline.ca/"> RentersHotline </a> </li> 
                    </ul>
                      <p> Another way to find an apartment in Toronto is to do some old-fashioned legwork. Toronto’s daily newspapers usually update their classified each night at around 1:00 am. Here are some daily newspapers you can check out: </p>
                      <ul>
                        <li> <a href="http://www.starclassifieds.com/marketplace/"> The Toronto Star </a> </li>
                        <li> <a href="http://classifieds.torontosun.com/"> Toronto Sun </a> </li>
                        <li> <a href="http://www.theglobeandmail.com/classifieds/"> The Globe and the Mail</a> </li>
                      </ul>
                      <p> If you are flying in from out of town, you may want to hold back from committing yourself to a residence to prevent surprises. Of course, you will then need to think about a temporary “home” while you shop around and vacancy is always a problem. If you want to commit yourself to a residence prior to your arrival here, make sure someone has looked at the place for you. </p>
                      <!-- Bernadette will add housing informatoin, a little bit --> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <% include ../common/footer %>
  </div>

  <script src="/libs/jquery.min.js"></script>
  <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script> 
  <script src="js/toronto/housing.js"></script>

</body>
</html>
