<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8"/>

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" />

  <% include common/meta %>

  <meta name="description" content="Register for a new Future Blue account">
  <meta name="keywords" content="<% include common/keywords %> Register, Account, User, Profile, Password, Email" />

  <title>Register</title>

  <!-- Stylesheets -->
  <link href="/css/styles.css" rel="stylesheet" />
  <link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />
  <link href="//1.www.s81c.com/common/v18/css/forms.css" rel="stylesheet" />

  <!-- Scripts -->
  <% include common/meta-json %>

  <!--<script src="//www.ibm.com/common/stats/ida_stats.js"></script>-->
  <script src="//1.www.s81c.com/common/v18/js/www.js"></script>
  <script src="//1.www.s81c.com/common/v18/js/forms.js"></script>

  <% include common/settings %>
</head>
<body id="ibm-com" class="ibm-type">
  <div id="ibm-top" class="ibm-landing-page">
    <% include common/nav %>

    <!-- LEADSPACE_BEGIN -->
    <!-- This is where you put the breadcrumbs/page title. -->
    <header role="banner" aria-labelledby="ibm-pagetitle-h1">

      <div id="ibm-leadspace-head"  class="ibm-alternate">
        <div id="ibm-leadspace-body" style="padding-bottom: 0px;">
          <!-- Nav trail -->

          <nav role="navigation" aria-label="Breadcrumb">
            <ul id="ibm-navigation-trail">
              <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a href="<%= rootPath %>" class="breadcrumb" itemprop="url"><span itemprop="title">Home</span></a>
              </li>
            </ul>
          </nav>
          <div class="ibm-columns">
            <div class="ibm-col-6-5">
              <h1 id="ibm-pagetitle-h1" class="ibm-h1 ibm-bold">Register for a Future Blue Account</h1>
            </div>
          </div>
        </div>
      </div>

    </header>
    <!-- LEADSPACE_END -->

    <main role="main" aria-labelledby="ibm-pagetitle-h1">
      <div id="ibm-pcon">
        <div id="ibm-content">
          <div id="ibm-content-body">
            <div id="ibm-content-main">

              <!-- Content goes here -->
              <div class="ibm-columns">
                <div class="ibm-col-1-1">
                  <form class="ibm-column-form" action="register" method="post">
                    <p>
                      <label for="First Name">First Name: </label>
                      <span>
                        <input type="text" name="firstName" placeholder="First Name">
                        <a class="ibm-profile-link" title="Email Info">Info</a>
                      </span>
                    </p>
                    <p>
                      <label for="Last Name">Last Name: </label>
                      <span>
                        <input type="text" name="lastName" placeholder="Last Name">
                        <a class="ibm-profile-link" title="Password Info">Info</a>
                      </span>
                    </p>
                    <p>
                      <label for="Internship Start Date">Internship Start Date (Month/Year): </label>
                      <span>
                        <input type="text" class="internshipStart" name="internshipStart" placeholder="05/15">
                        <a class="ibm-calendar-link" title="Password Info">Info</a>
                      </span>
                    </p>
                    <p>
                      <label for="Internships End Date">Internship End Date (Month/Year): </label>
                      <span>
                        <input type="text" class="internshipEnd" name="internshipEnd" placeholder="08/16">
                        <a class="ibm-calendar-link" title="Password Info">Info</a>
                      </span>
                    </p>
                    <p class="ibm-padding-top-1">
                      The information below will be used for logging in to your new account:
                    </p>
                    <p>
                      <label for="E-mail Address">E-mail Address: </label>
                      <span>
                        <input type="text" name="email" placeholder="E-mail address">
                        <a class="ibm-email-link" title="Password Info">Info</a>
                      </span>
                    </p>
                    <p>
                      <label for="Password">Password: </label>
                      <span>
                        <input type="password" name="password" placeholder="Password">
                        <a class="ibm-secure-link" title="Password Info">Info</a>
                      </span>
                    </p>
                    <p>
                      <input type="submit" class="ibm-btn-pri ibm-btn-blue-50" name="name" value="Register">
                    </p>
                    <p>
                      Already have an account? <a href="/login">Login here</a>.
                    </p>
                  </form>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </main>

    <% include common/footer %>

  </div>
  <script src="/libs/jquery.min.js"></script>
  <script src="/js/register.js"></script>

</body>
</html>
