body {
	background-color: #FFFFFF;
}

.ui.menu .item img.logo {
	margin-right: 1.5em;
}

.wireframe {
	margin-top: 2em;
}

h1.ui.header {
	font-size: 3em !important;
	font-weight: normal;
}

p.description {
	font-size: 1.33em;
}

div.footer {
	margin-top: 50px !important;
}

#blogPostsTable > thead > tr > th {
	text-align: left !important;
}

#users-table tr {
	cursor: pointer;
}

#upload-form {
	display: none;
}
