.right.item {
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 0 !important;
}

.hidden.menu {
	display: none;
}

.ui.secondary.inverted.pointing.menu {
	border: none !important;
}

.masthead.segment {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/2015-16.jpg') no-repeat center center !important;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	min-height: 700px;
	padding: 1em 0em;
}

#ibm-northstar-futureblue { 
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/2015-16.jpg') no-repeat scroll 17% !important;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	min-height: 670px;
	background-position: middle !important;
}

.futureblue-header { 
	font-size: 3.75rem; 
	text-align: center; 
	color: #FFF; 
	margin-top: 250px;
}

.futureblue-text { 
	font-size: 2.0rem; 
	text-align: center; 
	color: #FFF; 
	margin-top: 35px;	
}

.futureblue-about-title { 
	color: #FFF;
	padding-top: 45px;
	padding-bottom: 45px;
}

.futureblue-about-posts {
	padding-top:45px;
	padding-bottom:45px;
}

p.futureblue-about { 
	color: #FFF;
	font-size: 1.5rem;
}

.futureblue-about-btn {
	padding-top: 15px; 
}

.masthead .logo.item img {
	margin-right: 1em;
}

.masthead .ui.menu .ui.button {
	margin-left: 0.5em;
}

.masthead h1.ui.header {
	margin-top: 3em;
	margin-bottom: 0em;
	font-size: 4em !important;
	font-weight: normal;
}

.masthead h2 {
	font-size: 1.7em;
	font-weight: normal;
}

.ui.vertical.stripe {
	padding: 8em 0em;
}

.ui.vertical.stripe h3 {
	font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
	margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
	clear: both;
}

.ui.vertical.stripe p {
	font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
	margin: 3em 0em;
}

.quote.stripe.segment {
	padding: 0em;
}

.quote.stripe.segment .grid .column {
	padding-top: 5em;
	padding-bottom: 5em;
}

.secondary.pointing.menu .toc.item {
	display: none;
}

.right.item:hover {
	color: rgba(255, 255, 255, 0.9) !important;
}

div.image.card-image {
	background-size: cover !important;
	background-position: center center !important;
	height: 300px;
}

@media only screen and (max-width: 767px) {
	.masthead.segment {
		min-height: 350px;
	}

	.masthead h1.ui.header {
		font-size: 2em;
		margin-top: 1.5em;
	}

	.masthead h2 {
		margin-top: 0.5em;
		font-size: 1.5em;
	}

	/* Adds a padding to the footer content when the window width is less than 767px wide */
	.ui.container > .ui.stackable.grid > .column,
	.ui.container > .ui.stackable.grid > .row > .column {
		padding: 15px !important;
	}
}

/* Custom INDEX css */
.header {
	font-size: 1.5em;
	padding-bottom: 5px;
}

.description {
	font-size: 1.2em;
	padding-bottom: 10px;
}

.down-btn {
    color: rgba(255,255,255,.8);
    background: 0 0;
}

.down-btn:hover,
.down-btn:focus {
    color: rgba(255,255,255,.6);
}
