.edit-post-btn {
	width: 100%;
}

.ibm-alternate-background {
	background-color: #3B6CAA !important;
}

.author {
	margin-bottom: 1rem;
}

#ibm-leadspace-body {
	padding-bottom: 30px !important;
}

.post-content {
	text-align: justify;
}

.post-content p {
	font-size: 120%;
}

.post-content h1, 
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5 {
	font-size: 120%;
}