<<<<<<< HEAD
.footer {
	margin-top: 30px !important;
}

.ibm-alternate-background {
	background-color: #FF7832 !important;
}
/* banner is blue */
.breadcrumb-inverse {
	color: white !important;
}

>>>>>>> 76d208c5160b83dcf56ec8e630b40229c1afff1f
