<div id="ibm-related-content">
  <div id="ibm-merchandising-module">
    <!-- MTE will generate this -->
    <!-- <aside role="complementary" aria-label="Related content"> MTE dynamic modules populate in here. <aside> -->
    <!-- /MTE -->
  </div>
</div>

<div id="ibm-contact-module">
  <h2 class="ibm-bold">Contact Future Blue</h2>
  <h3 class="ibm-bold">Questions or concerns?</h3>
  <ul class="ibm-live-assistance-list">
    <li><a href="mailto:futureblue@ca.ibm.com" class="ibm-email-link">Email Future Blue</a></li>
    <li class="ibm-feedback-item">
      <h4 class="ibm-bold">Future Blue Head Lead</h4>
      <a href="mailto:jupeter5@ca.ibm.com" class="ibm-email-link">Email Peter Ju</a><br>
    </li>
    <li class="ibm-feedback-item">
      <h4 class="ibm-bold">Future Blue Web Team Leads</h4>
      <a href="mailto:ftom05@ca.ibm.com" class="ibm-email-link">Email Tom Fischer</a><br>
      <a href="mailto:isaicu05@ca.ibm.com" class="ibm-email-link">Email Christina Isaicu</a>
    </li>
  </ul>
</div>

<!-- FOOTER_BEGIN -->
<div id="ibm-footer-module"><!-- Dynamic footer links inserted here inside a <section> --></div>

<footer role="contentinfo" aria-label="IBM">
  <div id="ibm-footer">
    <ul>
      <li><a href="http://www.ibm.com/contact/us/en/">Contact</a></li>
      <li><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>
      <li><a href="http://www.ibm.com/legal/us/en/">Terms of use</a></li>
      <li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
    </ul>
  </div>
</footer>
<!-- FOOTER_END -->
<div class="ibm-legalfooter-text">
  <div class="ibm-columns">
    <div class="ibm-col-1-1">
      <p>
        <i>Disclaimer: The views and opinions expressed on this website do not necessarily represent those of IBM. They belong solely to the individual author</i>
      </p>
    </div>
  </div>
</div>